a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: grey;
}

a:hover {
    color: green;
}

.Links {
    background-color: darkblue;
    color: white;
    font-size: medium;
    font-family: sans-serif;
    padding: 25px;
    padding-left: 100px;
}

#bl {
    color: white;
    font-weight: bold;
    background-color: blue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

body {
    font-family: sans-serif;
    margin: 0;
}

#Images {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: cursive;
    font-size: large;
    font-weight: bolder;
    color: black;
    padding-left: 100px;
    padding-right: 100px;
    height: auto;
    text-align: left;
}

#Images img {
    max-height: 450px;
    width: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
