a {
    color: white;
}
a:visited {
    color: grey;
}
a:hover {
    color: green;
}
.Links {
    background-color: darkblue;
    color: white;
    font-size: medium;
    font-family: sans-serif;
    padding: 25px;
    padding-left: 100px;
}
#bl {
    color: white;
    font-weight: bold;
    background-color: blue;
}
body {
    font-family: sans-serif;
}
#Images {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: cursive;
    font-size: large;
    font-weight: bolder;
    color: black;
    padding-left: 300px;
    height: auto;
    text-align: left;
}
#Images img {
    height: 300px;
    width: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}